html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
}

.footer {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background-color: #f8f9fa;
}
